<div class="body">
  <header>
  <h1>Calendar</h1>
</header>
<button mat-raised-button (click)="saveDate()">Greate</button>
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar
      (selectedChange)="changeCalend()"
      [(selected)]="selected"
    ></mat-calendar>
  </mat-card>
  <p>Selected date: {{ selected }}</p>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <ng-container>
      <div *ngFor="let data of arrayData; let i = index" cdkDrag>
        <mat-card class="example-card">
          <div class="add">
            <input
              [(ngModel)]="titleEvent"
              type="text"
              placeholder="Add title ..."
            />
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ data.value }}</mat-card-title>
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field [min]="'03:15 am'"></ngx-timepicker-field>
            </div>
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field [max]="'06:18 pm'"></ngx-timepicker-field>
            </div>
          </mat-card-header>
          <div>
            <textarea
              [(ngModel)]="discriptionEvent"
              cols="100"
              rows="5"
              placeholder=" Add description or attachments ..."
            ></textarea>
          </div>
          <mat-card-subtitle>{{ data.titleEvent }}</mat-card-subtitle>
          <mat-card-content>
            <p>
              {{ data.discriptionEvent }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button (click)="deleteCard(i)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>
  <footer>
    <p class="text-center">
      Powered by:
      <a href="https://github.com/AndreyBabayev">Andriy Babayev</a>
    </p>
  </footer>
</div>
